<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Category: <%= category.name %></h1>
<div style="margin-left:20px;margin-top:20px">
  <p> <%= category.description %></p>
    <h4>Foods</h4>
    <dl>
      <% category_items.forEach(function(item, index) { %>
        <dt>
            <dd><a href="<%= item.url %>"> <%= item.name %></a></dd>
            <dd> <%=item.description %></dd>
        </dt>
    <% }) %>
    </dl>
</div>
<hr>
<p>
  <a href="<%= category.url%>/delete">Delete Category</a>
</p>
<p>
  <a href="<%= category.url%>/update">Update Category</a>
</p>
  </body>
</html>